.music
{
    background-image: url(/images/images.png);
    height: 300px;
    width: 200px;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-color: black;
    position: relative;
    background-position: center;
     background-blend-mode: screen;
    
}
.music::before{
    background-color: black;
        content: '';
  display: block;
  position: absolute;
 }
.block
{
   display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 50px;
}
a
{
    color: black;
}
